:root {
    --primary-color: linear-gradient(90deg, hsla(46, 100%, 50%, 1) 0%, hsla(0, 100%, 50%, 1) 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

header {
    position: relative;
    z-index: 1;
    background-color: #535353e4;
    padding: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding-top: 10px;
    margin: auto;
}

.top-nav ul {
    list-style-type: none;
    position: relative;
}

.top-nav li {
    display: inline;
    margin-right: 60px;
}

.top-nav li:last-child {
    margin-right: 0;
}


.top-nav li a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.top-nav li a:hover {
    color: rgb(255, 123, 0);
    transition: 0.3s;
}

.btn {
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    width: 100px;
}

.verification a.signUp {
    border: 2.5px solid rgb(255, 123, 0);
    border-radius: 20px 0 0 20px;
    padding: 6px;
    transition: transform 0.3s;
}

.verification a.signUp:hover,
.verification a.login:hover,
.explore:hover {
    transform: scale(1.04);
}

.verification a.login {
    padding: 8px;
    background: var(--primary-color);
    border-radius: 0 20px 20px 0;
    transition: transform 0.3s;
}

.small-container {
    position: relative;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/bg-image-2.JPG);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    width: 100%;
}

.hero::after {
    content: "";
    clear: both;
    display: block;
}

.hero-info {
    position: absolute;
    top: 56%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 450px;
}

.hero-info .highlighter {
    border: 2px solid rgb(255, 123, 0);
    width: 100px;
    height: 1px;
}

.hero-info h2 {
    font-size: 20px;
    color: white;
}

.hero-info p {
    margin: 20px 0;
    color: rgba(186, 186, 186, 0.864);
    font-size: 14px;
}

.explore {
    padding: 10px;
    background: var(--primary-color);
    border-radius: 20px;
    transition: transform 0.3s;
}

.horizontal-line {
    width: 100%;
    height: 8px;
    background-color: rgb(255, 123, 0);
}