:root {
    --primary-bg-color: linear-gradient(90deg, hsla(46, 100%, 50%, 1) 0%, hsla(0, 100%, 50%, 1) 100%);
    --secondary-bg-color: linear-gradient(135deg, hsla(303, 97%, 26%, 1) 0%, hsla(261, 94%, 6%, 1) 100%);
    --secondary-text-color: hsla(303, 96%, 11%, 1);
    --secondary-text-color-2: rgb(255, 123, 0);
}

/* GENERAL STYLE PROPERTY */
body {
    background-color: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

p {
    font-size: 12px;
    margin: 12px 0;
    color: #5e5e5e;
}

.btn {
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    width: 100px;
    padding: 10px 8px;
    background: var(--primary-bg-color);
    border-radius: 20px;
    transition: transform 0.3s;
}

.highlighter {
    border: 3px solid var(--secondary-text-color-2);
    width: 60px;
    height: 2px;
    margin-top: 4px;
}

.section-heading {
    text-align: center;
    margin-bottom: 40px;
}

.small-container {
    width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.5s;
}

.col-3:hover {
    transform: translateY(-5px);
}

.col-3 h3 {
    color: var(--secondary-text-color);
    margin-bottom: 10px;
}

.col-2 {
    flex-basis: 30%;
    min-width: 300px;
}

/* HEADER */
header {
    position: relative;
    background-color: #535353e4;
    padding: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

/* NAV SECTION */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    margin: auto;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.top-nav li {
    display: inline;
    margin-right: 60px;
}

.top-nav li:last-child {
    margin-right: 0;
}


.top-nav li a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.top-nav li a:hover {
    color: var(--secondary-text-color-2);
    transition: 0.3s;
}

.verification {
    padding-left: 40px;
}
.verification a.signUp,
.verification a.login {
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    width: 100px;
}

.verification a.signUp {
    border: 2.5px solid var(--secondary-text-color-2);
    border-radius: 20px 0 0 20px;
    padding: 6px;
    transition: transform 0.3s;
    color: var(--secondary-text-color-2);
}

.verification a.signUp:hover,
.verification a.login:hover,
.explore:hover {
    transform: scale(1.04);
}

.verification a.login {
    padding: 8px;
    background: var(--primary-bg-color);
    border-radius: 0 20px 20px 0;
    transition: transform 0.3s;
}

.menu-icon {
    display: none;
    cursor: pointer;
    width: 34px;
}

 /* .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
    display: none;
}
 */
/* HERO SECTION */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/bg-image-2.JPG");
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    position: relative;
}

.hero::after {
    content: "";
    clear: both;
    display: block;
}

.hero-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-info h2 {
    font-size: 30px;
    color: white;
}

.hero-info p {
    margin: 20px 0;
    color: rgba(230, 230, 230, 0.864);
    font-size: 18px;
}

.hero-info span {
    padding-bottom: 5px;
    border-bottom: 4px dotted var(--secondary-text-color-2);
}

.horizontal-line {
    width: 100%;
    height: 8px;
    background: var(--primary-bg-color);
}

/* ABOUT */
.about {
    padding: 40px 0;
}

/* SERVICES */
.services .col-3 img {
    background: var(--secondary-bg-color);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 10px;
}

.services {
    padding: 30px 0 30px 0;
    margin-top: 40px;
    background-color: #dedede;
}

.services .col-3 {
    background-color: #f0f0f0;
    padding: 30px 20px;
    box-shadow: 0 8px 16px rgba(124, 124, 124, 0.4);
    height: 320px;
}

/* TESTIMONIAL */
.testimonial {
    padding-top: 40px;

}

.testimonial .col-3 {
    background-color: #f0f0f0;
    padding: 30px 20px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(124, 124, 124, 0.4);
    cursor: pointer;
    transition: transform 0.5s;
    height: 365px;
}

.rating img {
    width: 14px;
}

.testimonial .col-3 .user {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3:hover {
    transform: translateY(-10px);
}

.quote img {
    width: 34px;
}

.testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/* SPONSORS */
.sponsors,
.testimonial {
    background-color: #d4d2d2;
}

.sponsors .small-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* CONTACT */
.contact {
    background-color: #f0f0f0;
    padding: 60px 0;
}


/* FOOTER */
footer {
    background: var(--secondary-bg-color);
    padding: 60px 0 40px 0;
    color: #f0f0f0;
}

footer p {
    color: #f0f0f0;
}

footer .social-media {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

footer .social-media img {
    margin-right: 20px;
}

footer .social-media .instagram {
    margin-right: 0;
}

footer .social-media img:nth-child(3) {
    margin-right: 0;
}

footer .footer-links a {
    display: block;
    text-decoration: none;
    color: #f0f0f0;
}

footer .footer-links a:hover {
    color: var(--secondary-text-color-2);
    transition: 0.3s;
}

footer .footer-links .container {
    display: flex;
    width: 900px;
    margin: 0 auto;
}

footer .footer-links .download-container .download {
    display: flex;
    margin-top: 10px;
}

footer .footer-links .download-container img {
    width: 140px;
}

footer .footer-links .download-container {
    flex-basis: 30%;
    font-size: 12px;
}

footer .footer-links .company-caption {
    flex-basis: 40%;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
}

footer .footer-links .company-caption img {
    margin-bottom: 10px;
}

footer .footer-links .useful-links {
    flex-basis: 10%;
    font-size: 12px;
}

footer h3 {
    margin-bottom: 10px;
}

footer hr {
    margin: 40px;
}

.copyright {
    color: var(--secondary-text-color-2);
    width: 50%;
    text-align: center;
    margin: auto;
}

.copyright a {
    text-decoration: none;
    color: #f0f0f0;
}

/* Media Queries */
/* Mobile */
@media (max-width: 480px) {
    header {
        padding: 10px;
    }

    .top-nav {
       display: none;
    }

    .menu-icon {
        display: block;
    }

    .hero-info h2 {
        font-size: 22px;
    }

    .hero-info p {
        font-size: 14px;
    }

    .top-nav, .top-nav ul {
        flex-direction: column;
        align-items: center;
    }

    .top-nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .top-nav li a {
        font-size: 14px;
    }

    .col-2, .col-3 {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .services, .testimonial, .contact, footer {
        padding: 20px 0;
    }

    .services .col-3, .testimonial .col-3 {
        margin-bottom: 20px;
    } 

    .sponsors .small-container {
        flex-direction: column;
    }

    footer .footer-links .container {
       width: 100%;
        flex-direction: column;
    }

    footer .footer-links .container .col-2 {
        flex-basis: 100%;
        padding: 10px 0;
    }

    footer .footer-links .download-container .download {
        flex-direction: column;
    }

    footer .footer-links .download-container img {
        width: 100px;
        margin-bottom: 10px;
    }

    footer .footer-links .company-caption {
        text-align: left;
        padding-top: 20px;
        margin-bottom: 0;
    }
}

